.root {
  display: flex;
  gap: 16px;

  & > * {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeader {
  text-align: center;
}
